<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="appUrl" content=<%=appUrl %>>
    <style>
        body {
            overflow-x: hidden;
        }

        .main {
            display: grid;
            place-content: center;
            grid-template-columns: repeat(auto-fit, 7VH);
            gap: .7vh;
        }

        box {
            width: 7VH;
            height: 7VH;
            border-radius: 5px;
            background: gold;
        }

        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 10px;
            position: absolute;
            z-index: 1;
            left: -25pt;
            opacity: 0;
            transition: opacity 0.3s;
            font-size: 20pt;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: .9;
        }
    </style>
</head>

<body>

    <div id="main" class="main"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./Component.js"></script>
    <script src="./utils.js"></script>
    <script>
        const loadDays = async () => {
            try {
                const response = await axios.request({
                    method: 'GET',
                    url: `${appUrl}/days`,
                })

                return response.data
            } catch (error) {
                console.log(error)
                return []
            }
        }
    </script>
    <script>
        const appUrl = getMeta('appUrl')
        const main = document.getElementById('main')

        loadDays().then(days => {
            for (let i = 0; i < days.length; i++) {
                let num = 0

                if (days[i].english)
                    num++
                if (days[i].codeChallenge)
                    num++
                if (days[i].roadmap)
                    num++

                main.append(new Box({ num, cssClass: 'tooltip', text: days[i].id }))
            }
        })
    </script>
</body>

</html>