<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="appUrl" content=<%=appUrl %>>

    <title>USD ToDo</title>

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            margin: 0;
        }

        .flex-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .todo {
            font-size: 40px;
            text-shadow: 0px 0px 7px grey;
            font-weight: lighter;
            font-family: 'Courier New', Courier, monospace;
        }

        .checkbox {
            width: 30px;
            height: 30px;
            box-shadow: 0px 0px 7px grey;
        }

        .today {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;

            width: 300px;

            text-align: center;
            font-size: 50px;
            font-weight: lighter;
            font-family: 'Courier New', Courier, monospace;
            text-shadow: 0px 0px 7px gray;
        }

        #link-roadmap{
            cursor: pointer;
        }

        #link-roadmap:hover{
            text-shadow: 0px 0px 7px black;
        }
    </style>
</head>

<body>
    <h1 id="today" class="today"></h1>
    <div class="flex-container">
        <form id="todo" class="todo">
            <input class="checkbox" type="checkbox" id="english" name="english" value="english">
            <label for="english"> English</label><br>
            <input class="checkbox" type="checkbox" id="code-challenge" name="code-challenge" value="codeChallenge">
            <label for="code-challenge">Code Challenge</label><br>
            <input class="checkbox" type="checkbox" id="roadmap" name="roadmap" value="roadmap">
            <label id="link-roadmap" for="roadmap">A Roadmap Topic</label><br>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./utils.js"></script>
    <script>
        const loadDay = async (dayInput) => {
            const id = dayInput
            const response = await axios.request({
                method: 'GET',
                url: `${appUrl}/day?id=${id}`,
            })

            if (!response) return

            const { english, codeChallenge, roadmap } = response.data

            document.getElementById('english').checked = english
            document.getElementById('code-challenge').checked = codeChallenge
            document.getElementById('roadmap').checked = roadmap
        }

        const updateDay = async (event) => {
            event.preventDefault()

            let requestBody = {}
            for (let prop of form.elements)
                requestBody[prop.value] = prop.checked

            await axios.request({
                method: 'POST',
                url: `${appUrl}/day`,
                data: requestBody,
            })
        }
    </script>
    <script>
        const linkRoadmap = document.getElementById('link-roadmap')
        linkRoadmap.addEventListener('click', (e)=>{
            e.preventDefault()
            window.open('https://roadmap.sh/backend','_blank');
        })
        const appUrl = getMeta('appUrl')
        const todayDate = new Intl.DateTimeFormat('pt-BR', { timeZone: 'America/Recife' }).format(new Date())

        loadDay(todayDate)

        const today = document.getElementById('today')
        today.innerHTML = todayDate

        const form = document.getElementById('todo')
        form.addEventListener('change', updateDay)
    </script>
</body>

</html>